<%- include("partials/header") %>
<div id="content">
	<div class="container py-3">
			<!-- <h2 class="text-white" style="text-shadow: 2px 2px 5px black"></h2> -->
		<div class="masonry mt-1 text-center">
			<% for(var i=8; i<15; i++) {%>
				<!-- <div class="col-md-6 col-lg-4"> -->
					<div class="card my-3 item p-0">
						<img src="/images/Radiant Mining Tech <%=[i]%>.jpeg" width="100%" style="border-radius: 4px">
					</div>
			<% } %>
			<% for(var i=1; i<8; i++) {%>
				<!-- <div class="col-md-6 col-lg-4"> -->
					<div class="card my-3 item p-0">
						<img src="/images/Radiant Mining Tech <%=[i]%>.jpeg" width="100%" style="border-radius: 4px">
					</div>
			<!-- </div> -->
				<!-- <div class="col-md-6 col-lg-4"> -->
					<div class="card my-3 item p-0">
						<video width="100%" style="border-radius: 4px; margin-bottom: -6px" controls>
  <source src="/images/Radiant Mining Tech <%=[i]%>.mp4" type="video/mp4"></video>
			</div>
			<% } %>
		</div>
	</div>
</div>
<%- include("partials/footer") %>